.app {
  &._in-modal {
    padding-top: 50px;
    height: 100%;
    display: flex;
    justify-content: center;

    .app__inner {
      position: relative;
    }
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
  }
}
