.base-button {
  color: $ui-color-grey13;
  background-color: $ui-color-yellow;
  border: 1px solid darken($ui-color-yellow, 20%);
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  &:hover {
    background-color: darken($ui-color-yellow, 10%);
  }

  &._size-default {
    padding: 0 16px;
    height: 34px;
    font-size: 15px;
  }

  &__loading {
    margin: -3px 6px 0 -4px;
  }
}