.base-text-field {
  width: 100%;

  &_error {
    color: #ff3737;
  }

  &__label {
    display: block;
  }

  &__input {
    background: $ui-color-white;
    width: 100%;
    height: 34px;
    color: $ui-color-grey13;
    font-size: 15px;
    line-height: 18px;
    padding: 0 12px;
    border: 1px solid $ui-color-grey72;
    transition: border-color 0.1s ease;

    &::placeholder {
      color: $ui-color-grey72;
    }

    .base-text-field_error & {
      border-color: #ff3737;
    }

    &:focus {
      outline: none;
      border-color: #0b99ff;
    }

    &:disabled {
      border-color: transparent;
      color: #888;
    }
  }
}