.paysuper-js-sdk-modal-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);

  &--loading {
    .paysuper-js-sdk-modal-layer__preloader {
      display: block;
    }
  }

  &__preloader {
    $border-width: 4px;
    $default-position: 45deg;
    $size: 32px;
    
    display: none;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    margin-top: -($size / 2)px;
    margin-left: -($size / 2)px;
  
    animation: {
      name: paysuper-js-sdk-modal-layer-rotate;
      duration: 0.8s;
      timing-function: linear;
      iteration-count: infinite;
    }
  
    border-color: rgba(255, 255, 255, 0.1);
    border-top-color: #06eaa7;
    background-color: transparent;
    border-radius: $size / 2;
    border-style: solid;
    border-width: $border-width;
    box-sizing: border-box;
    transform: rotate($default-position);
    height: $size;
    width: $size;

    @keyframes paysuper-js-sdk-modal-layer-rotate {
      100% {
        transform: rotate(360deg + $default-position);
      }
    }
  }
}